@font-face{ 
    font-family:Poppins;
    src: url(fonts/Poppins-Regular.ttf);
        }
div{
    font-family:Poppins;
}


body,html{
    margin:0;
    padding:0;
    font-family: 'poppins' , sans-serif;
    line-height:1.5;
    scroll-behavior:smooth;
    background-color: #ADD8E6; 
}

.navbar{
    display:flex;
    justify-content:space-between:
    align-items:center;
    position:fixed;
    top:0.8vw;
    left:0.8vw;
    right:0.8vw;
    index:10;
    height: 10vh;
    width:auto;
}


.navbar-contents{
    display:flex;
    background-color: #000080;
    border-radius: 7.6vw;
    padding: 1vw 12 vw;
    align-items: center;
}

.navbar-links{
    width:100%
    height:3vh;
    display:flex;
    flex:no;
}


    
    
    


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1; /* Ensure dropdown is above other elements */
}

nav li:hover .dropdown {
    display: block;
}

main {
    display: flex;
}

aside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-right: 20px;
}

section {
    flex-grow: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
